.page-container{
  margin-top: 60px;
}

ul {
  list-style-type: none;
  text-align:center;
}


.button-class {
  min-width: 50%;
  max-width: 60%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
  text-transform: capitalize;
}

.button-class:hover {
  background-color: white;
  color: #4caf50;
}

div.modal-header {
  text-align:center;
  text-transform: capitalize;
}

div.modal-body {
  text-align:center;
}

.modal-body img {
  margin-bottom: 0;
  max-width: 50%;
  height: auto;
}
