body  {
  background-image: linear-gradient(to left bottom, #28534b, #275853, #265d5b, #246264, #24676d);
}

 .jumbotron {
  background-color:rgba(0, 0, 0, 0);
  color: white;
}

.page-container{
  margin-top: 50px;
}

ul.pokemon-list {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    text-align: center;
    list-style: none;
    margin-block-end: 0;
}

 .button-class {
    width: 220px;
    height: 120px;
    background-color:rgba(0, 0, 0, 0);
    color: #fff;
    border: 2px solid #fafafa;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px 12px;
    font-weight: normal;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 400px;
    text-transform: capitalize;
    transition: background-color .5s linear;
}

.button-class:hover, .button-class:active {
  color:#fff;
  background-color:rgba(0, 150, 136, 0.4);
}

div.modal-header {
  text-align:center;
  text-transform: capitalize;
}

div.modal-body {
  text-align:center;
}

.modal-body img {
  margin-bottom: 0;
  max-width: 50%;
  height: auto;
}

.loading-message{
  color: white;
}
