body {
  background-color: #28534b;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-bottom: 0;
}

.page-container {
  margin-top: 40px;
}

.pokemon-list {
  text-align: center;
  display: inline-block;
}

.button-class {
  width: 200px;
  height: 120px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 2px solid #fafafa;
  border-radius: 7px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400px;
  text-transform: capitalize;
  transition: background-color 0.5s linear;
}

.button-class:hover,
.button-class:active {
  color: #fff;
  background-color: rgba(0, 150, 136, 0.4);
}

div.modal-header {
  text-align: center;
  text-transform: capitalize;
}

div.modal-body {
  text-align: center;
}

.modal-body img {
  margin-bottom: 0;
  max-width: 50%;
  height: auto;
}

.loading-message {
  color: white;
}
